body {
    --red: #ea1053;
    --black: #2C2C2C;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--black);
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

/* CSS génériques des typos */

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 55px;
    line-height: 60px;
    text-align: left;
    color: var(--red);
    text-transform: uppercase;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 32px;
    text-align: left;
    color: var(--red);
    text-transform: uppercase;
}

p {

    font-size: 16px;
    line-height: 21px;
    text-align: left;
    color: var(--black);


}

.bold {
    font-weight: 800;
}

/* CSS des types de paragraphes */

.subTitle {
    font-family: 'Arvo', serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 25px;
    text-align: left;
    color: var(--black);

}

.dateParution {
    font-weight: 600;
    color: var(--red);
}

/* Css du header */

.navbar {
    padding-top: 25px;
}

.navbar-nav {

    display: flex;
    justify-content: space-evenly;
}

.bg-light {
    background-color: #fff !important;
}

.nav-link {
    color: var(--black) !important;
}

.nav-link:focus,
.nav-link:hover {
    color: var(--red) !important;
}

.nav-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
}

#accueil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    height: 120px;
    width: 100%;
}

#logo {
    margin-left: 80px;
}


#titre .em {
    position: relative;
    top: -9px;
}


/* CSS du footer */

footer {
    width: 100%;
    height: 150px;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

footer p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 28px;
    padding: 20px 0 0 0;
}

#sticky-footer {
    flex-shrink: none;
}

footer .copi {
    position: relative;
    bottom: -90px;
    left: 100%;
    transform: translateX(-50%);
    font-size: 12px;
}

.whiteFooter {
    background-color: #fff !important;
    color: var(--black);
}

.whiteFooter .copi {
    color: var(--red) !important;
}

.redFooter {
    background-color: var(--red) !important;

}

.redFooter .nav-link {
    color: #FFF !important;
}

.redFooter .nav-link:focus,
.redFooter .nav-link:hover {
    color: var(--black) !important;
}

.redFooter .copi {
    color: #FFF !important;
}


/* CSS du slider photo */




/* ------ RESPONSIVE entre 1024px et 1200px ------ */
@media screen and (min-width: 1024px) and (max-width:1200px) {}

/* ------ RESPONSIVE 1024px ------ */
@media screen and (min-width: 768px) and (max-width: 1023px) {}

/* ------ RESPONSIVE mobile et tablette en dessous de 768px ------ */
@media screen and (max-width: 769px) {}

/* ------ RESPONSIVE mobile en dessous de 425px ------ */
@media screen and (max-width: 426px) {}