body {
    --red: #ea1053;
    --black: #2C2C2C;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--black);
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.no-gutter {
    padding-right: 0;
    padding-left: 0;
}
.btn-primary{
    width: 100%;
    background-color: var(--red) !important;
    border: var(--red) !important;


}
.trait {
    width: 7px;
    height: 270px;
    background-color: var(--red);
    position: absolute;
    top: 55%;
    left: 50%;
    z-index: 15;

}

/* CSS génériques des typos */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 82px;
    text-align: left;
    color: var(--black);
    border-bottom: 7px solid var(--red);
    width: 100%
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 55px;
    line-height: 60px;
    text-align: left;
    color: var(--red);
    text-transform: uppercase;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 32px;
    text-align: left;
    color: var(--red);
    text-transform: uppercase;
}

p {

    font-size: 16px;
    line-height: 21px;
    text-align: left;
    color: var(--black);
}

.bold {
    font-weight: 800;
}

/* CSS des types de paragraphes */

.subTitle {
    font-family: 'Arvo', serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 25px;
    text-align: left;
    color: var(--black);
}

.dateParution {
    font-weight: 600;
    color: var(--red);
}

/* Css du header */

.navbar {
    padding-top: 25px;
}

.navbar-nav {

    display: flex;
    justify-content: space-evenly;
}

.bg-light {
    background-color: #fff !important;
}

.nav-link {
    color: var(--black) !important;
}

.nav-link:focus,
.nav-link:hover {
    color: var(--red) !important;
}

.nav-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
}

#accueil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    height: 120px;
    width: 100%;
}

#logo {
    margin-left: 80px;
}


#titre .em {
    position: relative;
    top: -9px;
}

/* CSS des images */
.cover img {
    width: 270px;
    height: auto;
    border: 1px solid #2C2C2C;
}

.coverBig img {
    width: 372px;
    height: auto;
    border: 1px solid #2C2C2C;
}

/* CSS du slider photo */

.slide1 {
    height: 568px;
}

.slide2 {
    display: none;
    height: 568px;
}

.slide3 {
    display: none;
    height: 568px;
}

.slide1 img,
.slide2 img,
.slide3 img {
    filter: opacity(30%);
}

.mySlides {
    display: none
}

.textSlide {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    left: -160px;
    z-index: 10;

}

.textSlide h1,
.textSlide h2 {
    margin-bottom: 10px;
    text-align: right;
}

.w3-left {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translatex(-50%);
    left: 30px;
    color: #000;
}

.w3-right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translatex(-50%);
    right: 15px;
    color: #000;
}

.navigation {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0;
}

.bulle {
    /* display: block; */
    height: 7px;
    width: 52px;
    /* margin-left: 10px; */
    cursor: pointer;
    background-color: #EDEDED;
}

.actif {
    background-color: var(--red) !important;
}

.hover-white {
    background-color: #EDEDED;
}

.hover-white:hover {
    background-color: var(--black);
}

/* CSS de l'agenda */

.carte_agenda {
    border: 2px solid var(--red);
}

.contenu_agenda {
    margin: 25px 0 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    width: 60px;
    height: 60px;
    border-radius: 100% 0 0 0;
    text-decoration: none;
    padding: 10px 30px;
    color: #FFF;
   padding: 26px;
    overflow: hidden;
    position: absolute;
    right: -2px;
    bottom: -2px;
    transition-duration: 0.2s;
    background: var(--red);


}

.link:hover {
    color:#FFF;
    box-shadow: 0 4 2px var(--red);
    z-index: 3;
}

.link span {
    content: "";
    border-radius: 50%;
    width: 0px;
    height: 0px;
    transform: translate(-40%, -50%);
    transition: height 0.5s ease-in-out, width 0.5s ease-in-out, opacity 0.1s;
    background: var(--black);
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.link:hover span {
    width: 300px;
    height: 300px;
    opacity: 1;
}

/* CSS du footer */

footer {
    width: 100%;
    height: 150px;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

footer p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 28px;
    padding: 20px 0 0 0;
}

#sticky-footer {
    flex-shrink: none;
}

.copi {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 12px;
    line-height: 15px;
    text-transform: lowercase;
}

.whiteFooter {
    background-color: #fff !important;
    color: var(--black);
}

.redFooter {
    background-color: var(--red) !important;

}

.redFooter .nav-link {
    color: #FFF !important;
}

.redFooter .nav-link:focus,
.redFooter .nav-link:hover {
    color: var(--black) !important;
}

.redFooter .copi {
    color: #FFF !important;
}


/* CSS du slider photo */




/* ------ RESPONSIVE entre 1024px et 1200px ------ */
@media screen and (min-width: 1024px) and (max-width:1200px) {}

/* ------ RESPONSIVE 1024px ------ */
@media screen and (min-width: 768px) and (max-width: 1023px) {}

/* ------ RESPONSIVE mobile et tablette en dessous de 768px ------ */
@media screen and (max-width: 769px) {}

/* ------ RESPONSIVE mobile en dessous de 425px ------ */
@media screen and (max-width: 426px) {}