html {
    position: relative;
    min-height: 100%;
}

body {
    --red: #ea1053;
    --black: #2C2C2C;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    color: var(--black);
}

a:hover {
    text-decoration: none !important;
}


.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.no-gutter {
    padding-right: 0;
    padding-left: 0;
}

.trait {
    width: 7px;
    height: 270px;
    background-color: var(--red);
    position: absolute;
    top: 55%;
    left: 50%;
    z-index: 15;

}

/* CSS génériques des typos */

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 82px;
    text-align: left;
    color: var(--black);
    border-bottom: 7px solid var(--red);
    width: 100%
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 55px;
    line-height: 60px;
    text-align: left;
    color: var(--red);
    text-transform: uppercase;
}

h3 {
    font-family: 'Arvo', serif;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    color: var(--black);
    margin-bottom: 30px;
}


h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 32px;
    text-align: left;
    color: var(--red);
    text-transform: uppercase;
}

p {

    font-size: 16px;
    line-height: 21px;
    text-align: left;
    color: var(--black);
}

.bold {
    font-weight: 800;
}

/* Css boutons */

.btnBlack {
    min-width: 80px;
    height: 40px;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    padding: 10px 20px;
    color: #FFF;
    transition-duration: 0.2s;
    background: var(--black);
    border: var(--black) !important;
    font-weight: 800;
    border-radius: .25rem;

}

.btnBlack:hover {
    color: #FFF;
    box-shadow: 0 4 2px var(--black);
    z-index: 3;
    text-decoration: none;
}

.btnBlack span {
    content: "";
    border-radius: 50%;
    width: 0px;
    height: 0px;
    transform: translate(-40%, -50%);
    transition: height 0.5s ease-in-out, width 0.5s ease-in-out, opacity 0.1s;
    background: var(--red);
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.btnBlack:hover span {
    width: 800px;
    height: 800px;
    opacity: 1;
}

.btnRed {
    min-width: 100px;
    height: 40px;
    text-decoration: none;
    overflow: hidden;
    position: relative;
    padding: 10px 20px;
    color: #FFF;
    transition-duration: 0.2s;
    background: var(--red);
    border: var(--red) !important;
    font-weight: 800;
    border-radius: .25rem;

}

.btnRed:hover {
    color: #FFF;
    box-shadow: 0 4 2px var(--red);
    z-index: 3;
    text-decoration: none;
}

.btnRed span {
    content: "";
    border-radius: 50%;
    width: 0px;
    height: 0px;
    transform: translate(-40%, -50%);
    transition: height 0.5s ease-in-out, width 0.5s ease-in-out, opacity 0.1s;
    background: var(--black);
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.btnRed:hover span {
    width: 800px;
    height: 800px;
    opacity: 1;
}

/* CSS des types de paragraphes */

.subTitle {
    font-family: 'Arvo', serif;
    font-weight: 800;
    font-size: 24px;
    line-height: 25px;
    text-align: left;
    color: var(--black);
}

.dateParution {
    font-weight: 600;
    color: var(--red);
}

/* Css du header */

.navbar {
    padding-top: 25px;
}

.navbar-nav {

    display: flex;
    justify-content: space-evenly;
}

.bg-light {
    background-color: #fff !important;
}

.nav-link {
    color: var(--black) !important;
}

.nav-link:focus,
.nav-link:hover {
    color: var(--red) !important;
}

#active {
    color: var(--red) !important;
}

.nav-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
}

#accueil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF;
    height: 120px;
    width: 100%;
}

#logo {
    margin-left: 80px;
}


#titre .em {
    position: relative;
    top: -9px;
}

/* CSS des images */
.cover img {
    width: 270px;
    height: auto;
    border: 1px solid var(--black);
}
.cover img:hover {
    border: 4px solid var(--black);
}

.coverBig img {
    width: 372px;
    height: auto;
    border: 1px solid #2C2C2C;
}

/********* Hover image et texte *******/
/* Overlay */
/* .cover img .hoverImage{
    position: absolute;
    top: 0;
    height: 100%;
    width: 270px;
    opacity: 0;
    transition: .5s ease;
    box-shadow: 2px 2px 10px var(--black);
} */


/* Apparition overlay sur passage souris */
/* .cover:hover .hoverImage {

    opacity: 1;
} */
/* css du slider albums image*/
.fifthSection {
    background-color: #FFF;
    max-height: 450px;
    overflow: hidden;
}

.temoignages {
    padding: 60px 0 60px 0;
    z-index: 17;
    text-align: center;
    position: relative;
}

.fifthSection .row {
    margin-right: -15px;
    margin-left: -15px;
}

.testimonial {
    min-height: 250px;
    background-color: #FFF;
    box-shadow: 0 0 15px rgba(0, 0, 0, .4);
    border-radius: 15px;
    color: #263f5b;
    text-align: right;
    box-sizing: border-box;
    margin: 30px 15px 0 15px;
    padding: 30px;
    position: relative;
    top: 0px;
    left: 0px;
}

.hidden {
    position: absolute;
    top: 106px;
    left: -556px;
    display: none;
}

.prev,
.next {
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
        border: #263f5b;
    border-radius: 50%;
    /* text-indent: 100%; */
    white-space: nowrap;
    overflow: hidden;
    top: 50%;
}

.prev {
    background-image: url(atoms-icons-arrow.svg);
    left: -90px;
    transform: rotate(180deg);
}

.next {
    background-image: url(atoms-icons-arrow.svg);
    right: 30px;
}

.prev:hover,
.next:hover {
    background-image: url(atoms-icons-arrow_hover.svg);
}


/* CSS du slider photo */

.slide1 {
    height: 568px;
}

.slide2 {
    display: none;
    height: 568px;
}

.slide3 {
    display: none;
    height: 568px;
}

.slide1 img,
.slide2 img,
.slide3 img {
    filter: opacity(30%);
}

.mySlides {
    display: none
}

.textSlide {
    position: absolute;
    top: 40%;
    transform: translateY(-40%);
    left: -160px;
    z-index: 10;

}

.textSlide h1,
.textSlide h2 {
    margin-bottom: 10px;
    text-align: right;
}

.w3-left {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translatex(-50%);
    left: 30px;
    color: #000;
}

.w3-right {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translatex(-50%);
    right: 15px;
    color: #000;
}

.navigation {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 0;
}

.bulle {
    /* display: block; */
    height: 7px;
    width: 52px;
    /* margin-left: 10px; */
    cursor: pointer;
    background-color: #EDEDED;
}

.actif {
    background-color: var(--red) !important;
}

.hover-white {
    background-color: #EDEDED;
}

.hover-white:hover {
    background-color: var(--black);
}

/* CSS de l'agenda */

.agenda {
    display: flex;
    justify-content: space-evenly;
}

.carte_agenda {
    border: 2px solid var(--red);
}

.contenu_agenda {
    margin: 25px 0 25px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.old_event {
    opacity: 0.3;
}

.link {
    width: 60px;
    height: 60px;
    border-radius: 100% 0 0 0;
    text-decoration: none;
    padding: 10px 30px;
    color: #FFF;
    padding: 26px;
    overflow: hidden;
    position: absolute;
    right: -2px;
    bottom: -2px;
    transition-duration: 0.2s;
    background: var(--black);
}



.link:hover {
    color: #FFF;
    box-shadow: 0 4 2px var(--black);
    z-index: 3;
}

.link span {
    content: "";
    border-radius: 50%;
    width: 0px;
    height: 0px;
    transform: translate(-40%, -50%);
    transition: height 0.5s ease-in-out, width 0.5s ease-in-out, opacity 0.1s;
    background: var(--red);
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.link:hover span {
    width: 300px;
    height: 300px;
    opacity: 1;
}

.link2 {
    width: 60px;
    height: 60px;
    border-radius: 0 0 0 100%;
    text-decoration: none;
    padding: 10px 30px;
    color: #FFF !important;
    padding: 15px 0 0 30px;
    overflow: hidden;
    position: absolute;
    right: -3px;
    top: -27px;
    transition-duration: 0.2s;
    background: var(--red);
}



.link2:hover {
    color: #FFF;
    box-shadow: 0 4 2px var(--red);
    z-index: 3;
}

.link2 span {
    content: "";
    border-radius: 50%;
    width: 0px;
    height: 0px;
    transform: translate(-40%, -50%);
    transition: height 0.5s ease-in-out, width 0.5s ease-in-out, opacity 0.1s;
    background: var(--black);
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.link2:hover span {
    width: 300px;
    height: 300px;
    opacity: 1;
}

/* CSS de l'espace press */
.press {
    min-height: 790px;
    background-color: var(--red);
    width: 100%;
}

.press img {
    position: absolute;
    width: 100%;
}

.logo img {
    height: 55px;
    width: auto;
    margin-bottom: 40px;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
}


/* CSS du footer */

footer {
    width: 100%;
}

footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

footer p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 28px;
    padding: 20px 0 0 0;
}

#sticky-footer {
    flex-shrink: none;
}

.copi {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    font-size: 12px;
    line-height: 15px;
    text-transform: lowercase;
}

.whiteFooter {
    background-color: #fff !important;
    color: var(--black);
}

.redFooter {
    background-color: var(--red) !important;
    margin-top: auto;
}

.redFooter .nav-link {
    color: #FFF !important;
}

.redFooter .nav-link:focus,
.redFooter .nav-link:hover {
    color: var(--black) !important;
}

.redFooter .copi {
    color: #FFF !important;
}


/* CSS du slider press */
.carousel-inner {
    display: flex;
    background-color: #FFF;
    min-height: 380px;
    padding: 50px;
}

.carousel-item p {
    text-align: center;
}

.carousel-indicators {
    bottom: -40px;

}

.carousel-control-prev {
    left: -15%;
}

.carousel-control-next {
    right: -15%;
}

.critique {
    font-family: 'Arvo', serif;
    font-weight: 400;
    font-size: 22px;
    color: var(--black);
}

.journal {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 18px;
    color: var(--black);
    text-transform: uppercase;
}

.fa-quote-right {
    position: absolute;
    top: 35px;
    left: 35px;
    font-size: 65px;
    color: var(--red);
    z-index: 15;
}

/* CSS pagination */

.pagination {
    display: flex;
    color: var(--red);
    justify-content: center;
    align-items: center;
}

.pagination a {
    color: var(--red);
}

.pagination a:hover {
    color: var(--black);
}

.pagination span {
    color: var(--red);
    text-transform: uppercase;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .current {
    color: var(--red);
    width: 30px;
    height: 30px;
    border: 2px solid var(--red);
}

.pagination .page a {
    color: var(--red);
    width: 30px;
    height: 30px;
    border: 2px solid var(--red);
    opacity: 40%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination .page a:hover,
.pagination .page span:hover,
.pagination .page a:focus,
.pagination .page span:focus {
    background-color: var(--red);
    color: #FFF;
    opacity: 100%;
}


/* CSS contact */
.contact {
    margin: 0 0 25px 0;
    padding: 20px 20px 20px 20px;
    border: 2px solid var(--red);

}

#contact_message {
    min-height: 350px;
}

.contact .form-control {
    border: none;
}

.separator {
    border-bottom: 2px solid var(--red);

}

.contact_box {
    padding-right: 20px;
}

.separator_vertical {
    border-left: 2px solid var(--red);
    padding-left: 20px;
}


/* ------ RESPONSIVE entre 1024px et 1200px ------ */
@media screen and (min-width: 1024px) and (max-width:1200px) {}

/* ------ RESPONSIVE 1024px ------ */
@media screen and (min-width: 768px) and (max-width: 1023px) {}

/* ------ RESPONSIVE mobile et tablette en dessous de 768px ------ */
@media screen and (max-width: 769px) {
    .container {
        text-align: center;
    }
}

/* ------ RESPONSIVE mobile en dessous de 425px ------ */
@media screen and (max-width: 426px) {

    .textSlide {
        top: 20%;
        left: -80px;

    }

    .navigation {
        bottom: 315px;
    }
    .trait{
        display: none;
    }
    .titre {
        position: absolute;
        bottom: -60px;
        padding: 0px;
        text-align: center;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 100vw;
    }

    .mesAlbums{
        margin-top: -315px;
    }

    .contenu_agenda {
        margin: 40px 0 40px 0;
    }

    .w3-left,
    .w3-right {
        display: none;
    }

    #titre {
        font-size: 18px;
    }

    #logo {
        margin-left: 25px;
        margin-right: 55px;
        width: 320px;
    }
}
