{% extends "baseBack.html.twig" %}
{% form_theme formAlbumImage 'bootstrap_4_layout.html.twig' %}

{% block title %}
Ajouter des photos à un album
{% endblock %}

{% block body %}
<h4 class="mb-5">{% if editMode %}
    Modifier les
    {% else %}
    Ajouter les
    {% endif %} photos d'un album</h4>

{% for key,formAlbumImage in formAlbumImage.children %}
{{ form_widget(formAlbumImage) }}

{% endfor %}
</ul>

<button type="button" id="add-another-collection-widget" data-list-selector="#album-images-fields-list">Sauvegarder</button>




{% endblock %}

{% block javascripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Bootstrap JQuery Plugin -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<!-- Ajouter plusieurs images -->
<script src="js/albumImage.js"></script>
{% endblock %}