{% extends "baseBack.html.twig" %}
{% form_theme formMakingOfImage 'bootstrap_4_layout.html.twig' %}

{% block title %}
Ajouter des photos à un MakingOf
{% endblock %}

{% block body %}

<h4 class="mb-5">
    Ajouter les photos d'un making Of</h4>

{{ form_start(formMakingOfImage) }}
{{ form_widget(formMakingOfImage) }}


<button class="btn btn-primary" type="submit">Publier</button>
{{ form_end(formMakingOfImage)}}
{% endblock %}

{% block javascripts %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Bootstrap JQuery Plugin -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<!-- Ajouter plusieurs images -->
<script src="js/albumImage.js"></script>
{% endblock %}