{% extends "base.html.twig" %}
{% block title %}Album : { title } {% endblock %}

{% block body %}
    <div class="album">
        <img alt="" class="mini" src="https://via.placeholder.com/250">
        <p>Lorem ipsum dolor sit amet.</p>
    </div>

{% endblock %}
