{% extends "base.html.twig" %}
{% form_theme formMakingOf 'bootstrap_4_layout.html.twig' %}

{% block title %}
    Créer un Making-Of
{% endblock %}

{% block body %}
    <h1>Création d'un Making-Of</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form_rest(formMakingOf) }}

        <button class="btn btn-primary" type="submit">Publier</button>
    </form>

{% endblock %}
