{% extends "base.html.twig" %}
{% form_theme formSlider 'bootstrap_4_layout.html.twig' %}

{% block title %}
    Créer un Slider
{% endblock %}

{% block body %}
    <h1>Création d'un slider</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form_rest(formSlider) }}
    </form>
    <button class="btn btn-primary" type="submit">Publier</button>

{% endblock %}
