{% extends "baseBack.html.twig" %}
{% form_theme formPress 'bootstrap_4_layout.html.twig' %}

{% block title %}
   Ajouter une critique Presse
{% endblock %}

{% block body %}
<h1 class="mb-5">{% if editMode %}
        Modification d'
    {% else %}
        Ajouter
    {% endif %} une critique Presse</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form_rest(formPress) }}

        <button class="btn btn-primary" type="submit">
                {% if editMode %}
                    Modifier
                {% else %}
                    Publier
                {% endif %}
            </button>
    </form>

{% endblock %}
