{% extends "baseBack.html.twig" %}
{% form_theme formDetail 'bootstrap_4_layout.html.twig' %}

{% block title %}
   Personaliser le site
{% endblock %}

{% block body %}
    <h1>Personaliser le site</h1>

    <form method="post" enctype="multipart/form-data">
        {{ form_rest(formDetail) }}

        <button class="btn btn-primary" type="submit">
                {% if editMode %}
                    Modifier
                {% else %}
                    Publier
                {% endif %}
            </button>
    </form>

{% endblock %}
