{% extends "base.html.twig" %}
{% form_theme formNews 'bootstrap_4_layout.html.twig' %}

{% block title %} Créer une news {% endblock %}

{% block body %}
    <h1>Création d'une News</h1>
    <form method="post" enctype="multipart/form-data">
        {{ form_rest(formNews) }}

        <button class="btn btn-primary" type="submit">Publier</button>
    </form>

{% endblock %}
