{% extends "baseBack.html.twig" %}

{% form_theme formMakingOf 'bootstrap_4_layout.html.twig' %}



{% block title %}Créer un Making-Of{% endblock %}

{% block body %}

<h4 class="mb-5">{% if editMode %}
    Modification
    {% else %}
    Création
    {% endif %}d'un Making-Of</h4>
<form method="post" enctype="multipart/form-data">
    {# {{ form_rest(formMakingOf) }} #}
     {{ form_start(formMakingOf)}}
    {{ form_widget(formMakingOf.Content, {'id' : 'editor'}) }}

    <script>
        ClassicEditor
            .create(document.querySelector('#editor'))
            .catch(error => {
                console.error(error);
            });
    </script>

    <button class="btn btn-primary" type="submit">
        {% if editMode %}
        Modifier
        {% else %}
        Publier
        {% endif %}
    </button>
</form>

{% endblock %}