{% block _product_album_images_widget %}

<ul id="album-images-fields-list" data-prototype="{{ form_widget(prototype)|e }}" data-widget-tags="{{ '<li></li>'|e }}"
    data-widget-counter="{{ value|length }}">
    {% for key,albumImageForm in formAlbum.children %}
    {{ form_widget(albumImageForm) }}
    {% endfor %}
</ul>
<button type="button" class="add-another-collection-widget" data-list-selector="#album-images-fields-list">Ajouter une
    nouvelle image</button>
{% endblock %}