{% extends "baseFront.html.twig" %}
{% block title %}
{{ makingOfs.album.title }} le Making-of
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-md-12 align-self-center mb-5">
        <h2 class="text-center">" {{ makingOfs.album.title }} "<br> le Making-Of</h2>
    </div>
</div>
<div class="row mb-5">
    <div class="col-md-8 text-center ">

        {{ makingOfs.content|raw }}
    </div>
    <div class="col-md-4 coverBig">
        {% for makingOfs in makingOfs %}
        <img alt="Sébastien Mao" class="mini mb-2" src="{{ vich_uploader_asset(makingOfs.album, 'image1file')}}">
        {% endfor %}
    </div>
    {% endblock %}