{% extends 'base.html.twig' %}
{% block title %}
    Mes albums
{% endblock %}

{% block body %}
    <section class="mb-5">
        <h3>mes albums publiés</h3>
    </section>

    <div class="row">
        {% for album in albums %}
            <div class="col-lg-4 mb-5">
                <img alt="{{ album.title }}" class="mini" src="{{ album.cover }}">
            </div>
        {% endfor %}
    </div>

{% endblock %}
