{% extends 'baseRed.html.twig' %}
{% block title %}
    Mes albums
{% endblock %}

{% block body %}
    <section class="mb-5">
        <h4>mes albums</h4>
    </section>
    <div class="container-fluid">
        <div class="row">
            {% for album in albums |reverse %}
                <div class="col-lg-3 mb-5 cover">
                    <a href="{{ path('album', {'id': album.id}) }}">
                        <img alt="{{ album.title }}" class="mini" src="{{ vich_uploader_asset(album, 'coverFile')}}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
