{% extends 'baseRed.html.twig' %}
{% block title %}
    Mes albums
{% endblock %}

{% block body %}
    <section class="mb-5">
        <h3>mes albums publiés</h3>
    </section>
    <div class="container-fluid">
        <div class="row">
            {% for album in albums %}
                <div class="col-lg-3 mb-5">
                    <a href="{{ path('album', {'id': album.id}) }}">
                        <img alt="{{ album.title }}" class="mini" src="{{ album.cover }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
