{% extends "base.html.twig" %}
{% block title %} News {% endblock %}

{% block body %}
    <div class="album">
            <h3>{{ news.title }}</h3>
            <img alt="" class="mini" src="{{ news.image }}">
            <p>{{ news.createdAt | date('d/m/Y') }}</p>

            <p>{{ news.content | raw }}</p>
    </div>

{% endblock %}
