{% extends "base.html.twig" %}
{% form_theme formAlbum 'bootstrap_4_layout.html.twig' %}

{% block title %}
    Créer un album
{% endblock %}

{% block body %}
    <h1>Création d'un album</h1>


    <form method="post" enctype="multipart/form-data">

        {{ form_rest(formAlbum) }}

        <button class="btn btn-primary" type="submit">
            {% if editMode %}
                Modifier
            {% else %}
                Publier
            {% endif %}
        </button>
    </form>
{% endblock %}
