<div class="table">
    <div class="td">
        <h3>Sébastien vous avez un nouveau message de la part de : {{contact.firstName}} {{contact.lastName}}</h3>
        <hr>
        <p>{{contact.message | nl2br}}</p>
        <hr>
        <p>Voici son email si vous souhaitez lui répondre : {{contact.email}}</p>
    </div>
</div>